<!--cloud-web-->
<html>
<head>
	<title>DaSadWeb</title>
	<link  rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="icon" href="{{url_for('static', filename='photos/favicon.ico')}}" type="image/icon">
</head>
<body>
	<div class="all">
		<nav class="uppertext">
			<div class="left">
				<div class="link">
					<a href="#intro">Home</a>
				</div>
				<div class="link">
					<a href="#about">About</a>
				</div>
				<div class="link">
					<a href="#shop">Shop</a>
				</div>
			</div>
			<div class="right">
				<div class="name">DaSadWeb</div>
			</div>
		</nav>
		<div class="photos">
			<div id="intro" class="intro">
				<img src="{{url_for('static', filename='photos/img/img1.jpg')}}" alt="computer" class="background">
				<div class="tekt">
					<h1 class="n">Introduction</h1>
                    <p class="t">Hi, Im 5krc1. This is my personal website</br>and it is also the first website I have ever built.</br></p>
				</div>
			</div>
			<div id="about" class="about">
				<img src="{{url_for('static', filename='photos/img/img5.jpg')}}" class="background">
				<div class="tekt">
					<h1 class="n1">About</h1>
					<p class="t1">I am 5krc1, a teen from Slovenia whith big dreams</br>just learning to code and discovering the world of tech.</br>You can contact me on any social media at any time :)</p>
				</div>
                <div class="socialMedia">
                    <a class="insta media" href="https://www.instagram.com/5krc1/"><img src="{{url_for('static', filename='photos/social/ig.png')}}"></a>
                    <a class="twitter media" href="https://twitter.com/5krc1"><img src="{{url_for('static', filename='photos/social/tw.png')}}"></a>
					<a class="discord media" href="https://discord.gg/q2gXSzrf"><img src="{{url_for('static', filename='photos/social/ds.png')}}"></a>
                </div>
			</div>
			<div id="shop" class="shop">
				<img src="{{url_for('static', filename='photos/img/img6.jpg')}}" class="background">
				<div class="tekt">
					<a href="shop"><h1 class="n2">Shop</h1></a>
					<p class="t2">Buy my 3d prints</p>
				</div>
			</div>
		</div>
		<div class="animation">
			<div class="hide"></div>
			<div class="text-hide">
				<h1 class="text"><span class="span">this is</span></h1>
				<h1 class="text"><span class="span">the website of</span></h1>
				<h1 class="text"><span class="span"> 5krc1 </span></h1>
			</div>
		</div>
		<div class="slider"></div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/animation.js')}}"></script>
</body>
</html>
